.itemCart{
    font-size: 20px;
    width: 400px;
    height: 600px;
    border: 2px rgb(223, 42, 42);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
}

.itemCart img{
    width: 400px;

}